@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
}

@Html.Partial("~/views/partials/Widget/brand-bar.cshtml")

<section class="multi-columns">
    <div class="container">
        <div class="column-wrapper">

            @Html.Partial("~/Views/Partials/Widgets/offer-card.cshtml")

            @Html.Partial("~/Views/Partials/Widgets/offer-card.cshtml")

            @Html.Partial("~/Views/Partials/Widgets/offer-card.cshtml")

        </div>
    </div>
    <!-- /.container -->
</section>
<!--/.multi-columns-->


<section class="multi-columns">
    <div class="container">

        @Html.Partial("~/Views/Partials/Structures/citation-list.cshtml")

    </div>
    <!-- /.container -->
</section>
<!--/.multi-columns-->


@Html.Partial("~/Views/Partials/Structures/promotion.cshtml")


<section class="related-items">
    <div class="container">

        @Html.Partial("~/views/partials/Widget/related-item.cshtml")

        <div class="related-item darkblue">
            <img src="http://via.placeholder.com/300x300" alt="" title="" />
            <div class="item-content">
                <h4 class="related-title">DECORATING YOUR PORCH FOR FALL</h4>
                <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit.</p>
                <a class="arrow-link white" href="#">Learn More</a>

            </div>
            <!-- /.item-content -->
        </div>
        <!-- /.related-item -->

        <div class="related-item darkblue">
            <img src="http://via.placeholder.com/300x300" alt="" title="" />
            <div class="item-content">
                <h4 class="related-title">DECORATING YOUR PORCH FOR FALL</h4>
                <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit.</p>
                <a class="arrow-link white" href="#">Learn More</a>

            </div>
            <!-- /.item-content -->
        </div>
        <!-- /.related-item -->


    </div>
</section>
<!-- /.related-items -->

@Html.Partial("~/views/partials/Structures/half-half.cshtml")

@Html.Partial("~/views/partials/Structures/contact-form-cshtml")

