@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web;
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{ 
    var startNodeId = Model.MacroParameters["startNodeId"] != null ? Model.MacroParameters["startNodeId"] : Model.Content.Id;
    var numberOfPosts = 3;
    if (Model.MacroParameters["numberOfPosts"] != null)
    {
        int.TryParse((string)Model.MacroParameters["numberOfPosts"], out numberOfPosts);
    }
 }
@if (startNodeId != null)
{
    @* Get the starting page *@
var startNode = Umbraco.TypedContent(startNodeId);
var blogposts = startNode.Children.OrderByDescending(x => x.CreateDate).Take(numberOfPosts);

if (blogposts.Any())
{
        foreach (ContentModels.Blogpost post in blogposts)
        {
            <article itemscope="" itemtype="http://schema.org/Event">

                <h4 class="secondary-heading" itemprop="name">@post.PageTitle</h4>

                <small class="release-date" itemprop="startDate" content="@Model.Content.CreateDate.ToShortDateString()">
                    @Model.Content.CreateDate.ToShortDateString()
                </small>
                <small>
                    - @Html.Partial("~/Views/Partials/CategoryLinks.cshtml", post.Categories)
                </small><br />

                <span itemprop="description">
                    @post.Excerpt
                </span>

                <p>
                    <a class="arrow-link blue" href="@post.Url" itemprop="url">Learn More</a>
                </p>

            </article>
        }

    }
}
